---
import { z } from "astro/zod";

type Props = {
  username: string;
};

const { username } = Astro.props;

const rawUser = await Astro.locals.runtime.env.DB.prepare(
  `SELECT username, badge_img_url, picture FROM user WHERE username = ?`
)
  .bind(username)
  .first();

const user = z
  .object({
    badge_img_url: z.string().nullable(),
    picture: z.string().nullable(),
    username: z.string(),
  })
  .parse(rawUser);
---

<div class="container">
  <div class="lanyard-cutout"></div>
  <div class="label">
    <hgroup>
      <h2>Whiteboard the Conf</h2>
      <h3>@{user.username}</h3>
    </hgroup>
    {
      user.picture ? (
        <img class="profile" src={user.picture} alt={user.username} />
      ) : null
    }
  </div>
  {
    user.badge_img_url ? (
      <img class="badge" src={user.badge_img_url} alt="" />
    ) : null
  }
</div>

<style>
  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    background-image: linear-gradient(45deg, var(--orange), var(--purple));
    border-radius: var(--size-4);
    box-shadow: var(--shadow-5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lanyard-cutout {
    width: 16%;
    height: 3%;
    background-color: var(--surface-1);
    margin-block-start: 5%;
    z-index: 1;
    border-radius: var(--size-3);
    position: relative;
    display: flex;
    justify-content: center;
  }

  .lanyard-cutout::before {
    content: "";
    position: absolute;
    background-color: var(--surface-1);
    border-radius: 100%;
    width: 30%;
    aspect-ratio: 1;
    top: -50%;
  }

  .container::before {
    content: "";
    position: absolute;
    inset: var(--size-2);
    background-color: white;
    border-radius: var(--size-3);
  }

  .badge {
    position: absolute;
    inset: 0;
  }

  .label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: clamp(1rem, 3vw, 2.6rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    color: var(--surface-1);
  }

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
  }

  h3 {
    font-size: clamp(1.4rem, 3vw, 2.6rem);
    font-weight: 400;
  }

  .profile {
    border-radius: 100%;
    height: clamp(2.4rem, 12vw, 6rem);
    width: auto;
  }
</style>
