---
import Preview from "../components/badge/Preview.astro";
import Toggle from "../components/badge/Toggle.svelte";
import Layout from "../layouts/Layout.astro";

const session = await Astro.locals.auth.validate();
---

<Layout title="Whiteboard the conf">
  <div class="container">
    <header>
      <h1>Whiteboard the conf</h1>
    </header>
    <main>
      {
        session ? (
          <Toggle client:load>
            <Preview slot="preview" userId={session.user.userId} />
          </Toggle>
        ) : (
          <p>
            <a href="/login/clerk">Sign Up with Clerk</a>
          </p>
        )
      }
    </main>
  </div>
</Layout>

<style>
  .container {
    padding-inline: var(--size-2);
    max-width: 80ch;
    margin: auto;
  }

  header {
    padding-block-end: var(--size-4);
  }

  :root {
    --orange-hs: 7, 91%;
    --purple-hs: 263, 100%;
    --pink-hs: 331, 96%;
    --green-hs: 116, 86%;
    --orange: hsl(var(--orange-hs), 50%);
    --purple: hsl(var(--purple-hs), 50%);
    --pink: hsl(var(--pink-hs), 45%);
    --green: hsl(var(--green-hs), 34%);
  }
</style>
