---
import RSVP from "../components/RSVP.astro";
import Layout from "../layouts/Layout.astro";

const session = await Astro.locals.auth.validate();

if (session) {
  return Astro.redirect(`/invite/${session.user.username}`);
}
---

<Layout
  title="Whiteboard the conf"
  description="The great gathering of web devs and whiteboardists"
>
  <div class="container">
    <main>
      <h1>Whiteboard the conf</h1>
      <p>
        Join us for the <strong>greatest</strong> gathering of web devs and
        whiteboardists on earth! Whether your a developer, teacher, or just
        dry-erase artist, you'll definitely find a home here 🙌
      </p>

      <p>
        🗓 Come to the <strong>White(board) House</strong> on{" "}
        <strong>October 31st, 2023</strong>.
      </p>

      <div class="rsvp-container">
        <RSVP />
      </div>
    </main>
  </div>
</Layout>

<style>
  .container {
    padding-inline: var(--size-2);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  main {
    max-width: 80ch;
  }

  h1 {
    margin-block-end: var(--size-4);
  }

  p {
    margin-block-end: var(--size-2);
  }

  .rsvp-container {
    display: flex;
    justify-content: center;
    padding-block-start: var(--size-4);
  }

  header {
    padding-block-end: var(--size-4);
  }

  :root {
    --orange-hs: 7, 91%;
    --purple-hs: 263, 100%;
    --pink-hs: 331, 96%;
    --green-hs: 116, 86%;
    --orange: hsl(var(--orange-hs), 50%);
    --purple: hsl(var(--purple-hs), 50%);
    --pink: hsl(var(--pink-hs), 45%);
    --green: hsl(var(--green-hs), 34%);
  }
</style>
