---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Whiteboard the conf">
  <main>
    <header>
      <h1>Whiteboard the conf</h1>
      <p>Grab your custom ticket 👀</p>
    </header>
    <canvas width="720" height="1080"></canvas>
  </main>
</Layout>

<style>
  main {
    padding-inline: var(--size-2);
  }

  header {
    padding-block-end: var(--size-4);
  }

  canvas {
    background: white;
    max-width: 80%;
    margin-inline: auto;
    border-radius: var(--size-4);
    border: var(--size-3) solid var(--surface-3);
    drop-shadow: var(--shadow-5);
  }
</style>
