<a href="/login/clerk"> RSVP with Clerk</a>

<style>
  a,
  a:visited {
    font-size: var(--font-size-lg);
    border-radius: var(--size-2);
    padding-block: var(--size-2);
    padding-inline: var(--size-5);
    background-color: var(--purple);
    color: inherit;
    box-shadow: var(--shadow-3);
    transition: scale 0.5s var(--ease-spring-5);
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    scale: 1.2;
  }
</style>
