---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/Sriracha-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body><style is:global>
    @import "open-props/normalize";
    @import "open-props/style";

    @font-face {
      font-family: Sriracha;
      src: url("/fonts/Sriracha-Regular.ttf");
      font-style: normal;
      font-weight: 400;
      font-display: swap;
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    :root {
      --whiteboard-font: Sriracha, system-ui, sans-serif;
    }

    h1,
    h2 {
      font-family: var(--whiteboard-font);
    }
  </style>
</html>
